@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #fff;
  font-family: Arial;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  box-sizing: border-box;
  width: 100%;
}

.body {
  position: fixed;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://images4.alphacoders.com/114/1144182.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

#formDiv {
  height: 200px;
  width: 850px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  margin: auto;
  position: relative;
  top: 35%;
}

.header {
  position: absolute;
  top: calc(48% - 35px);
  left: calc(47% - 355px);
  z-index: 2;
}

.header div {
  float: left;
  color: #fff;
  font-family: "Fredoka One";
  font-size: 55px;
  font-weight: 200;
}

.header div span {
  color: #542b67 !important;
}

.login {
  position: absolute;
  top: calc(49% - 75px);
  left: calc(50% - 50px);
  height: 180px;
  width: 550px;
  padding: 10px;
  z-index: 2;
}

.login input[type="email"] {
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(114, 95, 95);
  border-radius: 10px;
  color: #fff;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  padding: 4px 4px 2px 10px;
}

.login input[type="password"] {
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(114, 95, 95);
  border-radius: 10px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 4px 2px 10px;
  margin-top: 10px;
}

.login button {
  transition: all 0.4s ease;
  width: 280px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 6px;
  margin-top: 10px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
}

.login button:hover {
  opacity: 0.8;
  color: black;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 25px;
}

.login button:active {
  opacity: 0.6;
}

.login input[type="email"]:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);
}

.login input[type="password"]:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);
}

.login button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

div.emailError {
  color: rgb(255, 252, 252);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: larger;
  margin-top: 10px;
  filter: brightness(40px);
  position: relative;
  top: 40%;
}

.raceConditionHeading {
  position: absolute;
  left: 150px;
  top: 10px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.raceConditionHeading:hover {
  color: #ecb6b6;
  cursor: pointer;
}

/*                                    The orientation CSS media feature can be used to test the orientation of the viewport (or the page box, for paged media). */

/*                                                                    landscape

    The viewport is in a landscape orientation, i.e., the width is greater than the height. 
*/

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

/*                                                                  portrait
    The viewport is in a portrait orientation, i.e., the height is greater than or equal to the width.
 */
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

/*                                                                   Game Component                                                                                  */

.gameHead {
  position: absolute;
  top: 100px;
  font-size: -webkit-xxx-large;
  font-family: sans-serif;
  color: gainsboro;
  left: 50px;
  right: 50px;
  text-decoration: underline;
  text-align: center;
  text-decoration-color: rgb(214, 211, 207);
}

.backgroundBlur {
  height: 550px;
  width: 850px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.09);
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  margin: auto;
  position: relative;
  top: 35%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-color: blanchedalmond;
}

.game-board {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
  position: relative;
  top: 120px;
  width: 400px;
  margin: auto;
  cursor: pointer;
}

.information {
  position: relative;
  top: 150px;
  color: black;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: cursive;
  font-size: larger;
}
